## ==  G I T I G N O R E  ==

## Emacs backup files
*#
*.
*.elc
*~
.#*

## Emacs packages
elpa/
var/

## private configuration
/private.el

##  Emacs temporary files & misc
/.mc-lists.el
/.DS_Store
/.emacs.desktop
/.emacs.desktop.lock
/.watsonresults
/ac-comphist.dat
/auto-save-list
/eshell/history
/eshell/lastdir
/newsticker/feeds/
/snippets/
/tramp
/url/cookies
/.python-environments/
/ido.last
/places
/games/
/bookmarks
/projectile-bookmarks.eld
/projectile.cache
